<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @sharer.name %></h1>
    <p>
      Thank you for signing up to Yunity.org.
    </p>
    <p>
      <%= @explanation_text %>
    </p>  
  </body>
</html>